/*==========================================================================
+ arman radmanesh.website
==========================================================================*/
// Fonts
@import "fonts.less";
// Import Bootstrap Variables & Mixins
@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";
@import "bs-variables.less";
// LessHat
@import "3rd-party/lesshat.less";
@import "variables.less";
@import "mixins.less";

/****************************************************************
*
*                            GENERAL
*
****************************************************************/
body {
  font-family: 'Roboto', sans-serif;
  background: @color-white-mild;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @color-grey-dark;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: @color-main;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;

  &::hover {
    text-decoration: underline;
    color: @color-main-darker;
  }
  &:focus {
    text-decoration: none;
  }
}

p {
  line-height: 1.5;
}

.btn,
a.btn {
  background: @color-main-dark;
  color: @color-white;
  padding: 8px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 4px 0 @color-shadow2;
  -moz-box-shadow: 0 2px 4px 0 @color-shadow2;
  box-shadow: 0 2px 4px 0 @color-shadow2;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.btn:hover,
a.btn:hover {
  color: @color-white;
  background: @color-main-light;
}

/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/

/*********************************************************************


                                NAVBAR


**********************************************************************/

.header {
  background: @color-main;
  color: @color-white;

  a {
    color: @color-white;
  }

  .top-bar {
    position: relative;
    padding-top: 15px;
    padding-bottom: 120px;
  }

  .social {
    margin-bottom: 0;

    a {
      color: @color-white-trans;
      display: inline-block;
      text-align: center;
      width: 32px;
      height: 32px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      padding-top: 2px;
      font-size: 16px;
      border: 2px solid @color-white-trans;

      &:hover {
        color: @color-white;
        border-color: @color-white;
      }
    }
  }

  .actions {
    position: absolute;
    right: 15px;
    top: 15px;

    .fa {
      margin-right: 5px;
    }

    a {
      margin-right: 10px;
      color: @color-white;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .profile-image {
    position: absolute;
    width: 160px;
    height: 160px;
    top: -80px;
    margin-left: -80px;
    left: 50%;
  }

  .name {
    font-size: 48px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
  }

  .title {
    font-size: 28px;
    font-weight: 300;
    color: @color-white-trans;
    margin-bottom: 30px;
  }

  .intro {
    background: @color-main-light;
    padding-top: 90px;
    padding-bottom: 60px;
    position: relative;
    font-size: 16px;
  }

  .profile {
    max-width: 800px;
    margin: 0 auto;
  }

  .contact-info {
    background: @color-main-dark;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;

    ul {
      margin-bottom: 0;
    }

    li {
      margin-right: 30px;
      color: @color-white-trans;

      a {
        color: @color-white-trans;

        &:hover {
          color: @color-white;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      .fa {
        margin-right: 10px;
      }
    }
  }
}

/* Page Nav */
.page-nav-space-holder {
  height: 60px;
  position: relative;
}

.page-nav-wrapper {
  background: @color-main-darker;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: @color-main;
  }

  a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 500;
  }

  .page-nav {
    margin: 0 auto;
    display: inline-block;

    li {
      margin-right: 30px;
      display: inline-block;
      background: none;

      &:hover,
      &:active {
        background: none;
      }

      &.active a {
        color: @color-white;
        background: none;
      }

      a {
        color: rgba(255, 255, 255, 0.6);
        padding: inherit;

        &:hover {
          color: @color-white;
        }

        &:hover,
        &:active,
        &:focus {
          background: none;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/*********************************************************************


                                CONTENT


**********************************************************************/

/*********************************************************************


                                FOOTER


**********************************************************************/

.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  -webkit-box-shadow: 0 1px 4px 0 @color-shadow;
  -moz-box-shadow: 0 1px 4px 0 @color-shadow;
  box-shadow: 0 1px 4px 0 @color-shadow;
  padding: 45px;
  background: @color-white;
  margin-bottom: 45px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 24px;
  text-align: center;
}

.timeline {
  border-left: 3px solid @color-main;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 280px;

  .item {
    position: relative;
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: "";
      position: absolute;
      left: -43px;
      top: 0;
      display: inline-block;
      width: 22px;
      height: 22px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background: @color-white;
      border: 3px solid @color-main;
    }

    &:after {
      content: "";
      position: absolute;
      left: -37px;
      top: 6px;
      display: inline-block;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background: @color-main;
      z-index: 10;
    }
  }

  .work-place {
    position: relative;
  }

  .location {
    position: absolute;
    right: 0;
    top: 2px;
    color: @color-grey-light;

    .fa {
      margin-right: 5px;
    }
  }

  .place {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
  }

  .job-meta {
    position: absolute;
    left: -280px;
    top: 0;

    .title {
      font-size: 18px;
      color: @color-main;
    }

    .time {
      color: @color-grey-light;
    }
  }

  .job-desc {
    color: @color-grey;
  }
}

.education-section .item {
  margin-bottom: 45px;

  .item-inner {
    padding: 0 30px;
  }

  .degree {
    font-size: 18px;
    color: @color-main;
    margin-top: 0;
    margin-bottom: 0px;
  }

  .education-body {
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 300;
  }

  .time {
    color: @color-grey-light;
    margin-bottom: 15px;
  }

  .desc {
    color: @color-grey;
  }
}

.skills-section {
  .subtitle {
    font-size: 18px;
    color: @color-grey-light;
    margin-top: 0;
    margin-bottom: 45px;
    font-weight: 300;
  }

  .top-skills {
    margin-bottom: 60px;

    .item {
      margin-bottom: 45px;
    }
  }

  .level {
    color: @color-grey-light;
    margin-bottom: 15px;
  }

  .desc {
    color: @color-grey;
  }

  .skill-tag {
    -webkit-box-shadow: 0 1px 4px 0 @color-shadow;
    -moz-box-shadow: 0 1px 4px 0 @color-shadow;
    box-shadow: 0 1px 4px 0 @color-shadow;
    padding: 6px 30px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid @color-white-mild;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 16px;
  }
}

.chart-easy-pie {
  positon: relative;
}

.chart {
  width: 110px;
  height: 110px;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;

  span {
    line-height: 110px;
  }

  canvas {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.portfolio-section {
  .filters {
    list-style: none;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;

    .type {
      margin-right: 30px;
      list-style: none;
      display: inline-block;
      padding: 8px 15px;
      color: @color-grey-light;
      cursor: pointer;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: @color-main;
        border-bottom: 2px solid @color-main;
      }
    }
  }

  .item {
    margin-bottom: 30px;
  }

  .item-inner {
    background: @color-main;
    color: @color-white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    -webkit-box-shadow: 0 1px 4px 0 @color-shadow;
    -moz-box-shadow: 0 1px 4px 0 @color-shadow;
    box-shadow: 0 1px 4px 0 @color-shadow;

    &:hover {
      background: #00a091;

      img {
        -webkit-opacity: 0.9;
        -moz-opacity: 0.9;
        opacity: 0.9;
      }
    }

    .content {
      padding: 30px;
      padding-bottom: 75px;
      position: relative;

      a {
        color: @color-white;
      }

      .sub-title {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 5px;
      }

      .meta {
        color: @color-white-trans;
        font-size: 14px;
      }

      .action {
        position: absolute;
        bottom: 30px;
        left: 30px;
      }
    }

    .link-mask {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

.contact-section {
  .intro {
    position: relative;
    padding: 30px;
    padding-left: 190px;
    font-size: 16px;
    color: @color-grey;

    .profile-image {
      width: 120px;
      height: 120px;
      position: absolute;
      left: 30px;
    }

    p {
      margin-bottom: 15px;
    }
  }
  .service-list {
    margin-left: 30px;
    margin-bottom: 15px;

    li {
      margin-bottom: 15px;
    }

    .fa {
      color: @color-main;
    }
  }

  .social {
    margin-bottom: 0;

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      display: inline-block;
      text-align: center;
      font-size: 24px;
      color: @color-grey-light;

      &:hover {
        color: @color-main;
      }
    }
  }
}

.footer .container {
  padding: 30px;
  color: @color-grey-light;
  letter-spacing: 0.5px;

  a {
    color: @color-grey-light;
  }
}

#topcontrol {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  background: @color-main-darker;
  color: @color-white;
  text-align: center;
  display: inline-block;
  z-index: 30;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 10px 0 @color-shadow3;
  -moz-box-shadow: 0 6px 10px 0 @color-shadow3;
  box-shadow: 0 6px 10px 0 @color-shadow3;

  &:hover {
    background: @color-main-darker;
    color: @color-white;
  }

  .fa {
    position: relative;
    top: 3px;
    font-size: 25px;
    font-weight: normal;
  }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header .social {
    margin: 0 auto;
    text-align: center;
  }

  .header .actions {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;

    .btn {
      margin-bottom: 15px;
      font-size: 12px;
      display: inline-block;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .header .name {
    font-size: 36px;
  }

  .header .title {
    font-size: 22px;
  }

  .header .contact-info li {
    margin-right: 0;
    margin-bottom: 15px;
    font-size: 14px;
    width: 100%;
    display: inline-block;
  }

  .header .contact-info li:last-child {
    margin-bottom: 0;
  }

  .section {
    padding: 30px;
  }

  .section-title {
    font-size: 20px;
  }

  .timeline {
    margin-left: 0;
    padding-right: 0;
  }

  .timeline .place {
    margin-bottom: 5px;
  }

  .timeline .job-meta {
    position: static;
    margin-bottom: 15px;
  }

  .education-section .item {
    padding: 0;
  }

  .portfolio-section .filters .type {
    font-size: 12px;
    margin-right: 5px;
    padding: 8px 5px;
  }

  .portfolio-section .item-inner .content {
    padding: 15px;
  }

  .portfolio-section .item-inner .content .sub-title {
    font-size: 14px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .portfolio-section .item-inner .content .meta {
    margin-bottom: 30px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .portfolio-section .item-inner .content .action {
    position: static;
    font-size: 12px;
  }

  .contact-section .intro {
    padding: 0;
    text-align: center;
  }

  .contact-section .intro .profile-image {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }

  .contact-section .service-list {
    margin-left: 0;
  }

  .contact-section .social {
    margin: 0 auto;
  }
}

/**
 * Testimonials
 */

.testimonials-section {
  .testimonials-carousel {
    max-width: 800px;
    margin: 0 auto;
  }

  .item {
    padding-left: 60px;
    margin-bottom: 45px;
  }

  .quote {
    border-left: none;
    padding: 0;
    font-size: 22px;
    color: @color-grey;
    font-weight: 300;
    position: relative;
  }

  .source {
    .name {
      font-size: 16px;
    }
    .position {
      color: @color-grey-light;
    }
  }

  .fa-quote-left {
    position: absolute;
    left: -60px;
    top: 0;
    width: 36px;
    height: 36px;
    display: inline-block;
    background: @color-main;
    color: @color-white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
  }

  .carousel-indicators {
    bottom: 0;
    margin-bottom: 0;

    li {
      background-color: #bdbdbd;
      border: none;
      width: 10px;
      height: 10px;
      margin: 0;
      margin-right: 5px;

      &.active {
        background-color: @color-main;
        width: 10px;
        height: 10px;
        margin: 0;
        margin-right: 5px;
      }
    }
  }
}

/****************************************************************
*
*                            Services
*
****************************************************************/
.services-section {
  .section-title {

  }
  p.lead {
    //margin-bottom: @padding-large-vertical * 2;
    color: @color-grey-light;
  }
  .services-list {

    .service-block {
      text-align: center;
      img {
        max-width: 100px;
        margin: 0 auto;
      }
      .service-title {
        display: block;
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 20px;
        color: @color-grey-dark;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
      }
      .service-description {
        font-size: 13px;
        line-height: 23px;
        color: @color-grey;
      }
    }
  }
}
