/*==========================================================================
+ Bootstrap Variables
==========================================================================*/
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

//== Scaffolding
//
//## Settings for some of the most global styles.
//
////** Background color for `<body>`.
//@body-bg:               #fff;
//
////** Global text color on `<body>`.
//@text-color:            darken(@brand-primary,20%);
//
////** Global textual link color.
//@link-color:            @brand-success;
////** Link hover color set via `darken()` function.
//@link-hover-color:      @link-color;
////** Link hover decoration.
//@link-hover-decoration: underline;
//
//
////== Typography
////
////## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Open Sans", sans-serif;
@font-family-serif:       Roboto, "Times New Roman", serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   "Courier New", Menlo, Times, monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          16px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

////** By default, this inherits from the `<body>`.
//@headings-font-family:    @font-family-base;
//@headings-font-weight:    400;
//@headings-line-height:    1.1;
//@headings-color:          inherit;
//
//
////== Iconography
////
////## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.
//
////** Load fonts from this directory.
@icon-font-path:          "../fonts/";
////** File name for all font files.
//@icon-font-name:          "glyphicons-halflings-regular";
////** Element ID within SVG icon file.
//@icon-font-svg-id:        "glyphicons_halflingsregular";
//
//
////== Components
////
////## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
//
//@padding-base-vertical:     10px;
//@padding-base-horizontal:   15px;
//
//@padding-large-vertical:    18px;
//@padding-large-horizontal:  27px;
//
//@padding-small-vertical:    6px;
//@padding-small-horizontal:  9px;
//
//@padding-xs-vertical:       1px;
//@padding-xs-horizontal:     5px;
//
//@line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
//@line-height-small:         1.5;
//
//@border-radius-base:        4px;
//@border-radius-large:       6px;
//@border-radius-small:       3px;
//
////** Global color for active items (e.g., navs or dropdowns).
//@component-active-color:    #fff;
////** Global background color for active items (e.g., navs or dropdowns).
//@component-active-bg:       fade(@brand-primary, @fade-amount *2);
//
////** Width of the `border` for generating carets that indicator dropdowns.
//@caret-width-base:          4px;
////** Carets increase slightly in size for larger components.
//@caret-width-large:         5px;
//
//
////== Tables
////
////## Customizes the `.table` component with basic values, each used across all table variations.
//
////** Padding for `<th>`s and `<td>`s.
//@table-cell-padding:            8px;
////** Padding for cells in `.table-condensed`.
//@table-condensed-cell-padding:  5px;
//
////** Default background color used for all tables.
//@table-bg:                      transparent;
////** Background color used for `.table-striped`.
//@table-bg-accent:               fade(#f9f9f9 , @fade-amount);
////** Background color used for `.table-hover`.
//@table-bg-hover:                fade(@gray-lighter, @fade-amount);
//@table-bg-active:               @table-bg-hover;
//
////** Border color for table and cell borders.
//@table-border-color:            @gray-lighter;
//
//
////== Buttons
////
////## For each of Bootstrap's buttons, define text, background and border color.
//
//@btn-font-weight:                normal;
//
//@btn-default-color:              #fff;
//@btn-default-bg:                 @gray;
//@btn-default-border:             @btn-default-bg;
//
//@btn-primary-color:              @btn-default-color;
//@btn-primary-bg:                 @brand-primary;
//@btn-primary-border:             @btn-primary-bg;
//
//@btn-success-color:              @btn-default-color;
//@btn-success-bg:                 @brand-success;
//@btn-success-border:             @btn-success-bg;
//
//@btn-info-color:                 @btn-default-color;
//@btn-info-bg:                    @brand-info;
//@btn-info-border:                @btn-info-bg;
//
//@btn-warning-color:              @btn-default-color;
//@btn-warning-bg:                 @brand-warning;
//@btn-warning-border:             @btn-warning-bg;
//
//@btn-danger-color:               @btn-default-color;
//@btn-danger-bg:                  @brand-danger;
//@btn-danger-border:              @btn-danger-bg;
//
//@btn-link-disabled-color:        @gray-light;
//
//
////== Forms
////
////##
//
////** `<input>` background color
//@input-bg:                       #fff;
////** `<input disabled>` background color
//@input-bg-disabled:              @gray-lighter;
//
////** Text color for `<input>`s
//@input-color:                    @text-color;
////** `<input>` border color
//@input-border:                   #dce4ec;
//
//// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
////** Default `.form-control` border radius
//// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
//@input-border-radius:            @border-radius-base;
////** Large `.form-control` border radius
//@input-border-radius-large:      @border-radius-large;
////** Small `.form-control` border radius
//@input-border-radius-small:      @border-radius-small;
//
////** Border color for inputs on focus
//@input-border-focus:             @brand-primary;
//
////** Placeholder text color
//@input-color-placeholder:        #acb6c0;
//
////** Default `.form-control` height
//@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);
////** Large `.form-control` height
//@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
////** Small `.form-control` height
//@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);
//
//@legend-color:                   @text-color;
//@legend-border-color:            transparent;
//
////** Background color for textual input addons
//@input-group-addon-bg:           fade(@gray-lighter , @fade-amount);
////** Border color for textual input addons
//@input-group-addon-border-color: @input-border;
//
////** Disabled cursor for form controls and buttons.
//@cursor-disabled:                not-allowed;
//
//
////== Dropdowns
////
////## Dropdown menu container and contents.
//
////** Background for the dropdown menu.
//@dropdown-bg:                    fade(#fff , @fade-amount);
////** Dropdown menu `border-color`.
//@dropdown-border:                rgba(0,0,0,.15);
////** Dropdown menu `border-color` **for IE8**.
//@dropdown-fallback-border:       #ccc;
////** Divider color for between dropdown items.
//@dropdown-divider-bg:            #e5e5e5;
//
////** Dropdown link text color.
//@dropdown-link-color:            @gray-dark;
////** Hover color for dropdown links.
//@dropdown-link-hover-color:      #fff;
////** Hover background for dropdown links.
//@dropdown-link-hover-bg:         fade(@component-active-bg , @fade-amount*1.5);
//
////** Active dropdown menu item text color.
//@dropdown-link-active-color:     #fff;
////** Active dropdown menu item background color.
//@dropdown-link-active-bg:        fade(@component-active-bg , @fade-amount);
//
////** Disabled dropdown menu item background color.
//@dropdown-link-disabled-color:   @gray-light;
//
////** Text color for headers within dropdown menus.
//@dropdown-header-color:          @gray-light;
//
////** Deprecated `@dropdown-caret-color` as of v3.1.0
//@dropdown-caret-color:           #000;
//
//
////-- Z-index master list
////
//// Warning: Avoid customizing these values. They're used for a bird's eye view
//// of components dependent on the z-axis and are designed to all work together.
////
//// Note: These variables are not generated into the Customizer.
//
//@zindex-navbar:            1000;
//@zindex-dropdown:          1000;
//@zindex-popover:           1060;
//@zindex-tooltip:           1070;
//@zindex-navbar-fixed:      1030;
//@zindex-modal:             1040;
//
//
////== Media queries breakpoints
////
////## Define the breakpoints at which your layout will change, adapting to different screen sizes.
//
//// Extra small screen / phone
////** Deprecated `@screen-xs` as of v3.0.1
//@screen-xs:                  480px;
////** Deprecated `@screen-xs-min` as of v3.2.0
//@screen-xs-min:              @screen-xs;
////** Deprecated `@screen-phone` as of v3.0.1
//@screen-phone:               @screen-xs-min;
//
//// Small screen / tablet
////** Deprecated `@screen-sm` as of v3.0.1
//@screen-sm:                  768px;
//@screen-sm-min:              @screen-sm;
////** Deprecated `@screen-tablet` as of v3.0.1
//@screen-tablet:              @screen-sm-min;
//
//// Medium screen / desktop
////** Deprecated `@screen-md` as of v3.0.1
//@screen-md:                  992px;
//@screen-md-min:              @screen-md;
////** Deprecated `@screen-desktop` as of v3.0.1
//@screen-desktop:             @screen-md-min;
//
//// Large screen / wide desktop
////** Deprecated `@screen-lg` as of v3.0.1
//@screen-lg:                  1200px;
//@screen-lg-min:              @screen-lg;
////** Deprecated `@screen-lg-desktop` as of v3.0.1
//@screen-lg-desktop:          @screen-lg-min;
//
//// So media queries don't overlap when required, provide a maximum
//@screen-xs-max:              (@screen-sm-min - 1);
//@screen-sm-max:              (@screen-md-min - 1);
//@screen-md-max:              (@screen-lg-min - 1);
//
//
////== Grid system
////
////## Define your custom responsive grid.
//
////** Number of columns in the grid.
//@grid-columns:              12;
////** Padding between columns. Gets divided in half for the left and right.
//@grid-gutter-width:         30px;
//// Navbar collapse
////** Point at which the navbar becomes uncollapsed.
//@grid-float-breakpoint:     @screen-sm-min;
////** Point at which the navbar begins collapsing.
//@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);
//
//
////== Container sizes
////
////## Define the maximum width of `.container` for different screen sizes.
//
//// Small screen / tablet
//@container-tablet:             (720px + @grid-gutter-width);
////** For `@screen-sm-min` and up.
//@container-sm:                 @container-tablet;
//
//// Medium screen / desktop
//@container-desktop:            (940px + @grid-gutter-width);
////** For `@screen-md-min` and up.
//@container-md:                 @container-desktop;
//
//// Large screen / wide desktop
//@container-large-desktop:      (1140px + @grid-gutter-width);
////** For `@screen-lg-min` and up.
//@container-lg:                 @container-large-desktop;
//
//
////== Navbar
////
////##
//
//// Basics of a navbar
//@navbar-height:                    60px;
//@navbar-margin-bottom:             @line-height-computed;
//@navbar-border-radius:             @border-radius-base;
//@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
//@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
//@navbar-collapse-max-height:       340px;
//
//@navbar-default-color:             #777;
//@navbar-default-bg:                fade(@brand-primary , @fade-amount *2);
//@navbar-default-border:            transparent;
//
//// Navbar links
//@navbar-default-link-color:                #fff;
//@navbar-default-link-hover-color:          @brand-success;
//@navbar-default-link-hover-bg:             transparent;
//@navbar-default-link-active-color:         #fff;
//@navbar-default-link-active-bg:            darken(@navbar-default-bg, 10%);
//@navbar-default-link-disabled-color:       #ccc;
//@navbar-default-link-disabled-bg:          transparent;
//
//// Navbar brand label
//@navbar-default-brand-color:               @navbar-default-link-color;
//@navbar-default-brand-hover-color:         @navbar-default-link-hover-color;
//@navbar-default-brand-hover-bg:            transparent;
//
//// Navbar toggle
//@navbar-default-toggle-hover-bg:           darken(@navbar-default-bg, 10%);
//@navbar-default-toggle-icon-bar-bg:        #fff;
//@navbar-default-toggle-border-color:       darken(@navbar-default-bg, 10%);
//
//
//// Inverted navbar
//// Reset inverted navbar basics
//@navbar-inverse-color:                      #fff;
//@navbar-inverse-bg:                         fade(@brand-success, @fade-amount*2);
//@navbar-inverse-border:                     transparent;
//
//// Inverted navbar links
//@navbar-inverse-link-color:                 #fff;
//@navbar-inverse-link-hover-color:           @brand-primary;
//@navbar-inverse-link-hover-bg:              transparent;
//@navbar-inverse-link-active-color:          #fff;
//@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 5%);
//@navbar-inverse-link-disabled-color:        #ccc;
//@navbar-inverse-link-disabled-bg:           transparent;
//
//// Inverted navbar brand label
//@navbar-inverse-brand-color:                @navbar-inverse-link-color;
//@navbar-inverse-brand-hover-color:          @navbar-inverse-link-hover-color;
//@navbar-inverse-brand-hover-bg:             transparent;
//
//// Inverted navbar toggle
//@navbar-inverse-toggle-hover-bg:            darken(@navbar-inverse-bg, 10%);
//@navbar-inverse-toggle-icon-bar-bg:         fade(#fff, @fade-amount*2);
//@navbar-inverse-toggle-border-color:        darken(@navbar-inverse-bg, 10%);
//
//
////== Navs
////
////##
//
////=== Shared nav styles
//@nav-link-padding:                          10px 15px;
//@nav-link-hover-bg:                         fade(@gray-lighter, @fade-amount * 1.5);
//
//@nav-disabled-link-color:                   @gray-light;
//@nav-disabled-link-hover-color:             @gray-light;
//
////== Tabs
//@nav-tabs-border-color:                     @gray-lighter;
//
//@nav-tabs-link-hover-border-color:          @gray-lighter;
//
//@nav-tabs-active-link-hover-bg:             fade(@body-bg, @fade-amount);
//@nav-tabs-active-link-hover-color:          @brand-primary;
//@nav-tabs-active-link-hover-border-color:   @gray-lighter;
//
//@nav-tabs-justified-link-border-color:            @gray-lighter;
//@nav-tabs-justified-active-link-border-color:     @nav-tabs-border-color;
//
////== Pills
//@nav-pills-border-radius:                   @border-radius-base;
//@nav-pills-active-link-hover-bg:            fade(@component-active-bg, @fade-amount*1.5);
//@nav-pills-active-link-hover-color:         fade(@component-active-color, @fade-amount * 1.5);
//
//
////== Pagination
////
////##
//
//@pagination-color:                     #fff;
//@pagination-bg:                        fade(@brand-success, @fade-amount);
//@pagination-border:                    transparent;
//
//@pagination-hover-color:               #fff;
//@pagination-hover-bg:                  darken(@pagination-bg, 15%);
//@pagination-hover-border:              transparent;
//
//@pagination-active-color:              #fff;
//@pagination-active-bg:                 darken(@pagination-bg, 15%);
//@pagination-active-border:             transparent;
//
//@pagination-disabled-color:            @gray-lighter;
//@pagination-disabled-bg:               lighten(@pagination-bg, 15%);
//@pagination-disabled-border:           transparent;
//
//
////== Pager
////
////##
//
//@pager-bg:                             @pagination-bg;
//@pager-border:                         @pagination-border;
//@pager-border-radius:                  15px;
//
//@pager-hover-bg:                       @pagination-hover-bg;
//
//@pager-active-bg:                      @pagination-active-bg;
//@pager-active-color:                   @pagination-active-color;
//
//@pager-disabled-color:                 #fff;
//
//
////== Jumbotron
////
////##
//
//@jumbotron-padding:              30px;
//@jumbotron-color:                inherit;
//@jumbotron-bg:                   fade(@gray-lighter, @fade-amount);
//@jumbotron-heading-color:        inherit;
//@jumbotron-font-size:            ceil((@font-size-base * 1.5));
//
//
////== Form states and alerts
////
////## Define colors for form feedback states and, by default, alerts.
//
//@state-success-text:             #fff;
//@state-success-bg:               fade(@brand-success, @fade-amount*1.5);
//@state-success-border:           @brand-success;
//
//@state-info-text:                #fff;
//@state-info-bg:                  fade(@brand-info, @fade-amount*1.5);
//@state-info-border:              @brand-info;
//
//@state-warning-text:             #fff;
//@state-warning-bg:               fade(@brand-warning, @fade-amount*1.5);
//@state-warning-border:           @brand-warning;
//
//@state-danger-text:              #fff;
//@state-danger-bg:                fade(@brand-danger, @fade-amount*1.5);
//@state-danger-border:            @brand-danger;
//
//
////== Tooltips
////
////##
//
////** Tooltip max width
//@tooltip-max-width:           200px;
////** Tooltip text color
//@tooltip-color:               #fff;
////** Tooltip background color
//@tooltip-bg:                  rgba(0,0,0,.9);
//@tooltip-opacity:             .9;
//
////** Tooltip arrow width
//@tooltip-arrow-width:         5px;
////** Tooltip arrow color
//@tooltip-arrow-color:         @tooltip-bg;
//
//
////== Popovers
////
////##
//
////** Popover body background color
//@popover-bg:                          #fff;
////** Popover maximum width
//@popover-max-width:                   276px;
////** Popover border color
//@popover-border-color:                rgba(0,0,0,.2);
////** Popover fallback border color
//@popover-fallback-border-color:       #ccc;
//
////** Popover title background color
//@popover-title-bg:                    darken(@popover-bg, 3%);
//
////** Popover arrow width
//@popover-arrow-width:                 10px;
////** Popover arrow color
//@popover-arrow-color:                 @popover-bg;
//
////** Popover outer arrow width
//@popover-arrow-outer-width:           (@popover-arrow-width + 1);
////** Popover outer arrow color
//@popover-arrow-outer-color:           fadein(@popover-border-color, 5%);
////** Popover outer arrow fallback color
//@popover-arrow-outer-fallback-color:  darken(@popover-fallback-border-color, 20%);
//
//
////== Labels
////
////##
//
////** Default label background color
//@label-default-bg:            @btn-default-bg;
////** Primary label background color
//@label-primary-bg:            @brand-primary;
////** Success label background color
//@label-success-bg:            @brand-success;
////** Info label background color
//@label-info-bg:               @brand-info;
////** Warning label background color
//@label-warning-bg:            @brand-warning;
////** Danger label background color
//@label-danger-bg:             @brand-danger;
//
////** Default label text color
//@label-color:                 #fff;
////** Default text color of a linked label
//@label-link-hover-color:      #fff;
//
//
////== Modals
////
////##
//
////** Padding applied to the modal body
//@modal-inner-padding:         20px;
//
////** Padding applied to the modal title
//@modal-title-padding:         15px;
////** Modal title line-height
//@modal-title-line-height:     @line-height-base;
//
////** Background color of modal content area
//@modal-content-bg:                             #fff;
////** Modal content border color
//@modal-content-border-color:                   rgba(0,0,0,.2);
////** Modal content border color **for IE8**
//@modal-content-fallback-border-color:          #999;
//
////** Modal backdrop background color
//@modal-backdrop-bg:           #000;
////** Modal backdrop opacity
//@modal-backdrop-opacity:      .5;
////** Modal header border color
//@modal-header-border-color:   #e5e5e5;
////** Modal footer border color
//@modal-footer-border-color:   @modal-header-border-color;
//
//@modal-lg:                    900px;
//@modal-md:                    600px;
//@modal-sm:                    300px;
//
//
////== Alerts
////
////## Define alert colors, border radius, and padding.
//
//@alert-padding:               15px;
//@alert-border-radius:         @border-radius-base;
//@alert-link-font-weight:      bold;
//
//@alert-success-bg:            fade(@state-success-bg, @fade-amount*2);
//@alert-success-text:          @state-success-text;
//@alert-success-border:        @state-success-border;
//
//@alert-info-bg:               fade(@state-info-bg, @fade-amount*2);
//@alert-info-text:             @state-info-text;
//@alert-info-border:           @state-info-border;
//
//@alert-warning-bg:            fade(@state-warning-bg, @fade-amount*2);
//@alert-warning-text:          @state-warning-text;
//@alert-warning-border:        @state-warning-border;
//
//@alert-danger-bg:             fade(@state-danger-bg, @fade-amount*2);
//@alert-danger-text:           @state-danger-text;
//@alert-danger-border:         @state-danger-border;
//
//
////== Progress bars
////
////##
//
////** Background color of the whole progress component
//@progress-bg:                 @gray-lighter;
////** Progress bar text color
//@progress-bar-color:          #fff;
////** Variable for setting rounded corners on progress bar.
//@progress-border-radius:      @border-radius-base;
//
////** Default progress bar color
//@progress-bar-bg:             @brand-primary;
////** Success progress bar color
//@progress-bar-success-bg:     @brand-success;
////** Warning progress bar color
//@progress-bar-warning-bg:     @brand-warning;
////** Danger progress bar color
//@progress-bar-danger-bg:      @brand-danger;
////** Info progress bar color
//@progress-bar-info-bg:        @brand-info;
//
//
////== List group
////
////##
//
////** Background color on `.list-group-item`
//@list-group-bg:                 fade(#fff, @fade-amount);
////** `.list-group-item` border color
//@list-group-border:             @gray-lighter;
////** List group border radius
//@list-group-border-radius:      @border-radius-base;
//
////** Background color of single list items on hover
//@list-group-hover-bg:           fade(@gray-lighter, @fade-amount*2);
////** Text color of active list items
//@list-group-active-color:       @component-active-color;
////** Background color of active list items
//@list-group-active-bg:          fade(@component-active-bg, @fade-amount);
////** Border color of active list elements
//@list-group-active-border:      @list-group-active-bg;
////** Text color for content within active list items
//@list-group-active-text-color:  lighten(@list-group-active-bg, 40%);
//
////** Text color of disabled list items
//@list-group-disabled-color:      @gray-light;
////** Background color of disabled list items
//@list-group-disabled-bg:         fade(@gray-lighter, @fade-amount);
////** Text color for content within disabled list items
//@list-group-disabled-text-color: @list-group-disabled-color;
//
//@list-group-link-color:         #555;
//@list-group-link-hover-color:   @list-group-link-color;
//@list-group-link-heading-color: #333;
//
//
////== Panels
////
////##
//
//@panel-bg:                    fade(#fff, @fade-amount);
//@panel-body-padding:          15px;
//@panel-heading-padding:       10px 15px;
//@panel-footer-padding:        @panel-heading-padding;
//@panel-border-radius:         @border-radius-base;
//@panel-box-shadow:            5px 15px 10px fade(@gray-base, @fade-amount);
//
////** Border color for elements within panels
//@panel-inner-border:          @gray-lighter;
//@panel-footer-bg:             darken(@panel-bg, @dark-amount);
//
//@panel-default-text:          @text-color;
//@panel-default-border:        @gray-lighter;
//@panel-default-heading-bg:    fade(@gray-lighter, @fade-amount);
//
//@panel-primary-text:          #fff;
//@panel-primary-border:        @brand-primary;
//@panel-primary-heading-bg:    fade(@brand-primary, @fade-amount);
//
//@panel-success-text:          @state-success-text;
//@panel-success-border:        @state-success-border;
//@panel-success-heading-bg:    fade(@state-success-bg, @fade-amount);
//
//@panel-info-text:             @state-info-text;
//@panel-info-border:           @state-info-border;
//@panel-info-heading-bg:       fade(@state-info-bg, @fade-amount);
//
//@panel-warning-text:          @state-warning-text;
//@panel-warning-border:        @state-warning-border;
//@panel-warning-heading-bg:    fade(@state-warning-bg, @fade-amount);
//
//@panel-danger-text:           @state-danger-text;
//@panel-danger-border:         @state-danger-border;
//@panel-danger-heading-bg:     fade(@state-danger-bg, @fade-amount);
//
//
////== Thumbnails
////
////##
//
////** Padding around the thumbnail image
//@thumbnail-padding:           4px;
////** Thumbnail background color
//@thumbnail-bg:                @body-bg;
////** Thumbnail border color
//@thumbnail-border:            @gray-lighter;
////** Thumbnail border radius
//@thumbnail-border-radius:     @border-radius-base;
//
////** Custom text color for thumbnail captions
//@thumbnail-caption-color:     @text-color;
////** Padding around the thumbnail caption
//@thumbnail-caption-padding:   9px;
//
//
////== Wells
////
////##
//
//@well-bg:                     fade(@gray-lighter, @fade-amount*2);
//@well-border:                 transparent;
//
//
////== Badges
////
////##
//
//@badge-color:                 #fff;
////** Linked badge text color on hover
//@badge-link-hover-color:      #fff;
//@badge-bg:                    @brand-primary;
//
////** Badge text color in active nav link
//@badge-active-color:          @brand-primary;
////** Badge background color in active nav link
//@badge-active-bg:             #fff;
//
//@badge-font-weight:           bold;
//@badge-line-height:           1;
//@badge-border-radius:         10px;
//
//
////== Breadcrumbs
////
////##
//
//@breadcrumb-padding-vertical:   8px;
//@breadcrumb-padding-horizontal: 15px;
////** Breadcrumb background color
//@breadcrumb-bg:                 fade(@gray-lighter, @fade-amount);
////** Breadcrumb text color
//@breadcrumb-color:              #ccc;
////** Text color of current page in the breadcrumb
//@breadcrumb-active-color:       @gray;
////** Textual separator for between breadcrumb elements
//@breadcrumb-separator:          "/";
//
//
////== Carousel
////
////##
//
//@carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);
//
//@carousel-control-color:                      #fff;
//@carousel-control-width:                      15%;
//@carousel-control-opacity:                    .5;
//@carousel-control-font-size:                  20px;
//
//@carousel-indicator-active-bg:                #fff;
//@carousel-indicator-border-color:             #fff;
//
//@carousel-caption-color:                      #fff;
//
//
////== Close
////
////##
//
//@close-font-weight:           bold;
//@close-color:                 #000;
//@close-text-shadow:           none;
//
//
////== Code
////
////##
//
//@code-color:                  #c7254e;
//@code-bg:                     #f9f2f4;
//
//@kbd-color:                   #fff;
//@kbd-bg:                      #333;
//
//@pre-bg:                      @gray-lighter;
//@pre-color:                   @gray-dark;
//@pre-border-color:            #ccc;
//@pre-scrollable-max-height:   340px;
//
//
////== Type
////
////##
//
////** Horizontal offset for forms and lists.
//@component-offset-horizontal: 180px;
////** Text muted color
//@text-muted:                  @gray-light;
////** Abbreviations and acronyms border color
//@abbr-border-color:           @gray-light;
////** Headings small color
//@headings-small-color:        @gray-darker;
////** Blockquote small color
//@blockquote-small-color:      @gray-light;
////** Blockquote font size
//@blockquote-font-size:        (@font-size-base * 1.25);
////** Blockquote border color
//@blockquote-border-color:     @gray-lighter;
////** Page header border color
//@page-header-border-color:    transparent;
////** Width of horizontal description list titles
//@dl-horizontal-offset:        @component-offset-horizontal;
////** Horizontal line color.
//@hr-border:                   @gray-lighter;
//
//

/* .............. end of variables.less */

