/*******************************************************************************
 *              armanradmanesh (version 1.0.0)
 *      Author: Arman Radmanesh (http://github.com/radmanesh)
 *  Created on: January 06,2018
 *     Project: armanradmanesh
 *   Copyright: Unlicensed.
 *******************************************************************************/

/*==========================================================================
+ arman radmanesh.website
==========================================================================*/
/*************************
*        Fonts
*     fonts.less
************************ */
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/OpenSans-Italic.ttf') format('truetype'), url(https://fonts.gstatic.com/s/opensans/v15/xjAJXh38I15wypJXxuGMBogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/PRmiXeptR36kaC0GEAetxv79_ZuUxCigM2DespTnFaw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url(https://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/Roboto-Italic.ttf') format('truetype'), url(https://fonts.gstatic.com/s/roboto/v18/vPcynSL0qHq_6dX7lKVByXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/Roboto-BoldItalic.ttf') format('truetype'), url(https://fonts.gstatic.com/s/roboto/v18/t6Nd4cfPRhZP44Q5QAjcC4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'), url(https://fonts.gstatic.com/s/robotocondensed/v16/Zd2E9abXLFGSr9G3YK2MsH4vxAoi6d67T_UKWi0EoHQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'), url(https://fonts.gstatic.com/s/robotocondensed/v16/b9QBgL0iMZfDSpmcXcE8nPX2or14QGUHgbhSBV1Go0E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*==========================================================================
+ Bootstrap Variables
==========================================================================*/
/* .............. end of variables.less */
/*==========================================================================
+   Variables
==========================================================================*/
/****************************************************************
*
*                            GENERAL
*
****************************************************************/
body {
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
a {
  color: #009688;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a::hover {
  text-decoration: underline;
  color: #004a43;
}
a:focus {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
.btn,
a.btn {
  background: #00635a;
  color: #fff;
  padding: 8px 15px;
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
.btn:hover,
a.btn:hover {
  color: #fff;
  background: #007d71;
}
/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
/*********************************************************************


                                NAVBAR


**********************************************************************/
.header {
  background: #009688;
  color: #fff;
}
.header a {
  color: #fff;
}
.header .top-bar {
  position: relative;
  padding-top: 15px;
  padding-bottom: 120px;
}
.header .social {
  margin-bottom: 0;
}
.header .social a {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-clip: padding-box;
  padding-top: 2px;
  font-size: 16px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.header .social a:hover {
  color: #fff;
  border-color: #fff;
}
.header .actions {
  position: absolute;
  right: 15px;
  top: 15px;
}
.header .actions .fa {
  margin-right: 5px;
}
.header .actions a {
  margin-right: 10px;
  color: #fff;
}
.header .actions a:last-child {
  margin-right: 0;
}
.header .profile-image {
  position: absolute;
  width: 160px;
  height: 160px;
  top: -80px;
  margin-left: -80px;
  left: 50%;
}
.header .name {
  font-size: 48px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}
.header .title {
  font-size: 28px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}
.header .intro {
  background: #007d71;
  padding-top: 90px;
  padding-bottom: 60px;
  position: relative;
  font-size: 16px;
}
.header .profile {
  max-width: 800px;
  margin: 0 auto;
}
.header .contact-info {
  background: #00635a;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
}
.header .contact-info ul {
  margin-bottom: 0;
}
.header .contact-info li {
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.8);
}
.header .contact-info li a {
  color: rgba(255, 255, 255, 0.8);
}
.header .contact-info li a:hover {
  color: #fff;
}
.header .contact-info li:last-child {
  margin-right: 0;
}
.header .contact-info li .fa {
  margin-right: 10px;
}
/* Page Nav */
.page-nav-space-holder {
  height: 60px;
  position: relative;
}
.page-nav-wrapper {
  background: #004a43;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.page-nav-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #009688;
}
.page-nav-wrapper a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 500;
}
.page-nav-wrapper .page-nav {
  margin: 0 auto;
  display: inline-block;
}
.page-nav-wrapper .page-nav li {
  margin-right: 30px;
  display: inline-block;
  background: none;
}
.page-nav-wrapper .page-nav li:hover,
.page-nav-wrapper .page-nav li:active {
  background: none;
}
.page-nav-wrapper .page-nav li.active a {
  color: #fff;
  background: none;
}
.page-nav-wrapper .page-nav li a {
  color: rgba(255, 255, 255, 0.6);
  padding: inherit;
}
.page-nav-wrapper .page-nav li a:hover {
  color: #fff;
}
.page-nav-wrapper .page-nav li a:hover,
.page-nav-wrapper .page-nav li a:active,
.page-nav-wrapper .page-nav li a:focus {
  background: none;
}
.page-nav-wrapper .page-nav li:last-child {
  margin-right: 0;
}
/*********************************************************************


                                CONTENT


**********************************************************************/
/*********************************************************************


                                FOOTER


**********************************************************************/
.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 45px;
  background: #fff;
  margin-bottom: 45px;
  border-radius: 2px;
  background-clip: padding-box;
}
.section:last-child {
  margin-bottom: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 24px;
  text-align: center;
}
.timeline {
  border-left: 3px solid #009688;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 280px;
}
.timeline .item {
  position: relative;
  margin-bottom: 45px;
}
.timeline .item:last-child {
  margin-bottom: 0;
}
.timeline .item:before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-clip: padding-box;
  background: #fff;
  border: 3px solid #009688;
}
.timeline .item:after {
  content: "";
  position: absolute;
  left: -37px;
  top: 6px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-clip: padding-box;
  background: #009688;
  z-index: 10;
}
.timeline .work-place {
  position: relative;
}
.timeline .location {
  position: absolute;
  right: 0;
  top: 2px;
  color: #8a8a8a;
}
.timeline .location .fa {
  margin-right: 5px;
}
.timeline .place {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
}
.timeline .job-meta {
  position: absolute;
  left: -280px;
  top: 0;
}
.timeline .job-meta .title {
  font-size: 18px;
  color: #009688;
}
.timeline .job-meta .time {
  color: #8a8a8a;
}
.timeline .job-desc {
  color: #666;
}
.education-section .item {
  margin-bottom: 45px;
}
.education-section .item .item-inner {
  padding: 0 30px;
}
.education-section .item .degree {
  font-size: 18px;
  color: #009688;
  margin-top: 0;
  margin-bottom: 0px;
}
.education-section .item .education-body {
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 300;
}
.education-section .item .time {
  color: #8a8a8a;
  margin-bottom: 15px;
}
.education-section .item .desc {
  color: #666;
}
.skills-section .subtitle {
  font-size: 18px;
  color: #8a8a8a;
  margin-top: 0;
  margin-bottom: 45px;
  font-weight: 300;
}
.skills-section .top-skills {
  margin-bottom: 60px;
}
.skills-section .top-skills .item {
  margin-bottom: 45px;
}
.skills-section .level {
  color: #8a8a8a;
  margin-bottom: 15px;
}
.skills-section .desc {
  color: #666;
}
.skills-section .skill-tag {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 6px 30px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #f5f5f5;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 16px;
}
.chart-easy-pie {
  positon: relative;
}
.chart {
  width: 110px;
  height: 110px;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.chart span {
  line-height: 110px;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}
.portfolio-section .filters {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
}
.portfolio-section .filters .type {
  margin-right: 30px;
  list-style: none;
  display: inline-block;
  padding: 8px 15px;
  color: #8a8a8a;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.portfolio-section .filters .type:last-child {
  margin-right: 0;
}
.portfolio-section .filters .type.active {
  color: #009688;
  border-bottom: 2px solid #009688;
}
.portfolio-section .item {
  margin-bottom: 30px;
}
.portfolio-section .item-inner {
  background: #009688;
  color: #fff;
  border-radius: 2px;
  background-clip: padding-box;
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.portfolio-section .item-inner:hover {
  background: #00a091;
}
.portfolio-section .item-inner:hover img {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.portfolio-section .item-inner .content {
  padding: 30px;
  padding-bottom: 75px;
  position: relative;
}
.portfolio-section .item-inner .content a {
  color: #fff;
}
.portfolio-section .item-inner .content .sub-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
}
.portfolio-section .item-inner .content .meta {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
.portfolio-section .item-inner .content .action {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.portfolio-section .item-inner .link-mask {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.contact-section .intro {
  position: relative;
  padding: 30px;
  padding-left: 190px;
  font-size: 16px;
  color: #666;
}
.contact-section .intro .profile-image {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 30px;
}
.contact-section .intro p {
  margin-bottom: 15px;
}
.contact-section .service-list {
  margin-left: 30px;
  margin-bottom: 15px;
}
.contact-section .service-list li {
  margin-bottom: 15px;
}
.contact-section .service-list .fa {
  color: #009688;
}
.contact-section .social {
  margin-bottom: 0;
}
.contact-section .social li {
  margin-right: 10px;
}
.contact-section .social li:last-child {
  margin-right: 0;
}
.contact-section .social a {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  color: #8a8a8a;
}
.contact-section .social a:hover {
  color: #009688;
}
.footer .container {
  padding: 30px;
  color: #8a8a8a;
  letter-spacing: 0.5px;
}
.footer .container a {
  color: #8a8a8a;
}
#topcontrol {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  background: #004a43;
  color: #fff;
  text-align: center;
  display: inline-block;
  z-index: 30;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-clip: padding-box;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
#topcontrol:hover {
  background: #004a43;
  color: #fff;
}
#topcontrol .fa {
  position: relative;
  top: 3px;
  font-size: 25px;
  font-weight: normal;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header .social {
    margin: 0 auto;
    text-align: center;
  }
  .header .actions {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .header .actions .btn {
    margin-bottom: 15px;
    font-size: 12px;
    display: inline-block;
    width: 100%;
  }
  .header .actions .btn:last-child {
    margin-bottom: 0;
  }
  .header .name {
    font-size: 36px;
  }
  .header .title {
    font-size: 22px;
  }
  .header .contact-info li {
    margin-right: 0;
    margin-bottom: 15px;
    font-size: 14px;
    width: 100%;
    display: inline-block;
  }
  .header .contact-info li:last-child {
    margin-bottom: 0;
  }
  .section {
    padding: 30px;
  }
  .section-title {
    font-size: 20px;
  }
  .timeline {
    margin-left: 0;
    padding-right: 0;
  }
  .timeline .place {
    margin-bottom: 5px;
  }
  .timeline .job-meta {
    position: static;
    margin-bottom: 15px;
  }
  .education-section .item {
    padding: 0;
  }
  .portfolio-section .filters .type {
    font-size: 12px;
    margin-right: 5px;
    padding: 8px 5px;
  }
  .portfolio-section .item-inner .content {
    padding: 15px;
  }
  .portfolio-section .item-inner .content .sub-title {
    font-size: 14px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .portfolio-section .item-inner .content .meta {
    margin-bottom: 30px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .portfolio-section .item-inner .content .action {
    position: static;
    font-size: 12px;
  }
  .contact-section .intro {
    padding: 0;
    text-align: center;
  }
  .contact-section .intro .profile-image {
    position: static;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .contact-section .service-list {
    margin-left: 0;
  }
  .contact-section .social {
    margin: 0 auto;
  }
}
/**
 * Testimonials
 */
.testimonials-section .testimonials-carousel {
  max-width: 800px;
  margin: 0 auto;
}
.testimonials-section .item {
  padding-left: 60px;
  margin-bottom: 45px;
}
.testimonials-section .quote {
  border-left: none;
  padding: 0;
  font-size: 22px;
  color: #666;
  font-weight: 300;
  position: relative;
}
.testimonials-section .source .name {
  font-size: 16px;
}
.testimonials-section .source .position {
  color: #8a8a8a;
}
.testimonials-section .fa-quote-left {
  position: absolute;
  left: -60px;
  top: 0;
  width: 36px;
  height: 36px;
  display: inline-block;
  background: #009688;
  color: #fff;
  border-radius: 50%;
  background-clip: padding-box;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
}
.testimonials-section .carousel-indicators {
  bottom: 0;
  margin-bottom: 0;
}
.testimonials-section .carousel-indicators li {
  background-color: #bdbdbd;
  border: none;
  width: 10px;
  height: 10px;
  margin: 0;
  margin-right: 5px;
}
.testimonials-section .carousel-indicators li.active {
  background-color: #009688;
  width: 10px;
  height: 10px;
  margin: 0;
  margin-right: 5px;
}
/****************************************************************
*
*                            Services
*
****************************************************************/
.services-section p.lead {
  color: #8a8a8a;
}
.services-section .services-list .service-block {
  text-align: center;
}
.services-section .services-list .service-block img {
  max-width: 100px;
  margin: 0 auto;
}
.services-section .services-list .service-block .service-title {
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.services-section .services-list .service-block .service-description {
  font-size: 13px;
  line-height: 23px;
  color: #666;
}
